<h3>Product Page For {{name}}'s Collection</h3>

{{#each product in products itemController='product'}}

  <p>
    {{product.name}} <button class="btn btn-xs btn-danger" {{action 'delete'}}>Kill</button>
  </p>

{{/each}}

<p>{{#link-to 'new-product' this class="btn btn-default"}}Add Product{{/link-to}}</p>


{{outlet}}
