<h1>Junk</h1>

{{#link-to 'new-lot'}}New lot{{/link-to}}

<ul class="list-unstyled">
  {{#each lot in model itemController='lot'}}
  <li class="well col-sm-3 lots">{{#link-to 'lot' lot}}{{lot.name}}{{/link-to}} <button class="btn btn-xs btn-danger" {{action 'delete'}}>Kill</button> </li>
  {{/each}}
</ul>
