<h1>New lot</h1>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name" class="form-control"}}
  </div>
  <button class="btn btn-warning" {{action 'save'}}>Save</button>
</form>
